
  header{
    color:  rgba(3, 95, 16, 0.959);
    text-shadow:3px 3px darkorange ;
    font-weight: bold;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("BG.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display:inline-block;
    height:70px;
    width:100%;
  
    top: 0px;
    left:0px;
    right:0px;
  }

  footer{
    text-align:center;
    color:  rgba(3, 95, 16, 0.959);
    text-shadow:1px 1px darkorange ;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("BG.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-block;
    height:50px;
    width:100%;
    font-weight: bolder;
    bottom: 0px;
    left:0px;
    right:0px;
    position:fixed;
  }
  .container{

    padding:5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .Purchased-true
  {
    text-decoration: line-through;
    text-decoration-color:  blue;
    font-style: italic;
    background-color: rgb(252, 255, 100) !important;
  }
  .Purchased-false
  {
    text-decoration: none;
    font-style: normal;
    background-color: white !important;
  }
  .currentListLabel
  {
    font-weight: bold;
    color: darkblue;
    font-size: large;

  }
  label
  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }